@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
	font-family: 'Roboto', Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fafafa;
	font-weight: 300;
	/*line-height: normal;*/
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
}
input, button {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
}
@keyframes start{
  0%{
    transform: translateX(200px);
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}

#search-form {
    transition: all 0.3s ease-in-out;
	margin-top: 12rem;
}

@media (max-width:778px){
	#search-form {
		margin-top: 3rem;
	}
	#result {
		margin-top: 0;
	}
}


#search-form h1 {
	color: #3c4146; /*github*/
	font-size: 2.75em;
	/*margin-bottom: 50px;*/
	display: inline-block;
}
.interrogation {
	color: #3c4146; /*github*/
	font-size: 2.75em;
}
#spinner {
	color: #3c4146; /*github*/
	background-color: #3c4146;
}
#field {
	margin-left: 0.7rem;
	background-color: inherit;
	border: 0; 
	box-shadow: initial;
	color: #3c4146; /*github*/
	font-size: 2.75em;
	height: 100%;
	width: 3em;
	min-width: 3em;
	display: inline;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
#result {
	padding: 10px 5px;
    width: 300px;
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #3c4146;
	margin-bottom: 50px;
	margin-top: 20px;
}
#result h2 {
	margin-bottom: 0;
}
#thumbnail {
	padding-top: 25px;
}
#search {
	background-color: #4dc3b4;
	font-size: 15px;
}
#cuanto-cuesta {
	color: #3c4146; /*github*/
	font-size: 2.75rem;
}
.similar-product {
	background-color: #f5f5f5;
	color: black;
	height: 280px;
    border: 1px solid #8a8d90;
    border-top: 0;
    transition: all 0.2s ease-in-out;
}
.similar-product:hover {
    background-color: #e8e8e8;
}
.similar-product:nth-child(3n+2) {
	border-left: 0;
	border-right: 0;
}
.similar-product:last-child {
	border-right: 1px solid #8a8d90;
}
.similar-product:nth-child(1),
.similar-product:nth-child(2),
.similar-product:nth-child(3) {
	border-top: 1px solid #8a8d90;
}

.similar-product.column + .column:last-child{
	float: left;
}
.similar-product .thumbnail {
	margin-top: 20px;
}
.similar-product .name {
	text-overflow : ellipsis;
	color: #016ab3;
	text-transform: uppercase;
	font-size: 15px;
	height: 50px;
	margin-top: 20px;
}
.similar-product .price {
	font-size: 1.7em;
	color: #d1030f;
}
.cleaner {
	clear: both;
}