<!doctype html>
<head>
    <meta charset="utf-8">
    <title>¿Cuánto Cuesta?</title>

    <!-- Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/spinner.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Scripts -->
    <script src="js/lib/jquery/jquery.js"></script>
    <script src="js/lib/underscore/underscore.js"></script>
    <script src="js/lib/backbone/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js"></script>
    <script src="js/jquery.autosize.input.min.js"></script>

    <!-- ML --> 
    <script src="js/init.js"></script>
    <script src="js/models/product.js"></script>
    <script src="js/collections/products.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <form id="search-form" class="form-signin text-center columns" autocomplete="off">
        <h1>¿Cuánto cuesta </h1>
        <input type="text" id="field" data-autosize-input='{ "space": 40 }'>
        <span class="interrogation">?</span>
        <div id="result" style="display:none">
            <h2>
                <span id="cuanto-cuesta"></span>
            </h2>
        </div>
        <div id="spinner" class="spinner" style="display:none"></div>
    </form>
    <div id="similars" class="row small-up-1 large-up-3"></div>

    <script id="price-row" type="text/html">
        <tr>
            <td> <%- price.place %> </td>
            <td> <%- price.price %> </td>
        </tr>
    </script>

    <script id="similar-product" type="text/html">
        <div class="similar-product column" >
            <a href="<%- product.get_url() %>" target="_blank">
                <div class="thumbnail">
                    <img src="<%- product.get_thumbnail() %>">
                </div>
                <div class="name"> <%- product.get_name() %> </div>
                <h5 class="price"> $ <%- round(product.get_price()).toFixed(2) %></h5>
            </a>
        </div>
    </script>

</body>
